.user-article .con {
	padding: 11px 20px 0 0;
	font-size: 14px;
}
.user-article .con p {
	line-height: 24px;
	margin-top: 24px;
}

.user-article .con strong {
	font-size: 16px;
	font-weight: bold;
	color: #0fa6e3;
}
.user-article .con .custom-btn {
	display: block;
	width: 158px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	margin-top: 36px;
	border-radius: 2px;
}